header {
    background-image: linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%)); 
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:  hsl(0, 0%, 100%);
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
}

.intro-div {
    background: url(../images/bg-pattern-intro.svg) no-repeat fixed center ;
    height: 80vh;
    width: 100%  
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 2% 2% 2% 10%;
}

.dropdowns {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 35%;
}

.dropdown-section {
    width: 30%;
}


.dropdowns p {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    width: 90%;
}

.dropdowns p:hover {
    text-decoration: underline;
    cursor: pointer;
}

p img {
   margin-left: -10% ;
}

.rotate {
    transform: rotate(180deg);
}

.dropdowns ul {
    background-color: hsl(0, 0%, 100%);
    box-shadow:0 0 10px rgba(0,0,0,0.8);
    position: absolute;
    padding: 15px 20px 15px 15px ;
    font-weight: lighter;
    border-radius: 5px;
}

.dropdowns li {
    list-style: none;
    width: 110px;
}

.dropdowns a {
    text-decoration: none;
    color: black;
    width: 100%;
}

.dropdowns a:hover{
    font-weight: bolder;
}

nav .login-signup {
    width: 20%;
    margin-left: 30%;
    display: flex;
    justify-content: space-evenly;
    padding: 1%;
}

nav .login-signup a {
    width: 50%;
    text-align: center;
    text-decoration: none;
    color: inherit;
    border-radius: 20px;
    padding: 2.2%;
}

nav .login-signup a:last-child{
   background-color:  hsl(0, 0%, 100%);
   color: hsl(356, 100%, 66%)
}

nav .login-signup a:hover {
    background-color:hsl(355, 100%, 74%);
    color: hsl(0, 0%, 100%);
}


.intro-div .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: 3%;
    text-align: center;
}

.description h1 {
    font-family: 'Overpass', sans-serif;
    font-size: 64px;
}

.description h2 {
    font-family: 'Overpass', sans-serif;
    font-size: 20px;
    font-weight: lighter;
}

.description .link-group {
    margin: 0 auto;
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    padding: 3%;
}

.link-group a {
    width: 40%;
    padding: 2.2%;
    border-radius: 20px;
    border: 1px solid hsl(356, 100%, 66%);
    background-color: hsl(0, 0%, 100%);
    color: hsl(356, 100%, 66%);
    text-decoration: none;
}

.link-group a:hover {
    background-color:hsl(355, 100%, 74%);
    color: hsl(0, 0%, 100%);
    border: none;
    cursor: pointer;
}

.link-group a:last-child {
    width: 40%;
    padding: 2.2%;
    border-radius: 20px;
    border: 1px solid hsl(0, 0%, 100%);
    color:hsl(0, 0%, 100%);
    background-color: transparent
}

.link-group a:last-child:hover {
    background-color:hsl(0, 0%, 100%);
    color: hsl(355, 100%, 74%);
    border: none;
    cursor: pointer;
}
